doctype html
html(lang="en")
	head
		title Better Bluetooth
		script(src='static/peerjs.min.js')
		script(src='static/receive.js')
		script(src='static/send.js')
	
	body
		input(type='file', id="file_content")

		br
		br
		
		div(id='recvrs')
		
		br
		br

		p(id="error")
		
	script.
		function init(){
			let name = document.cookie.split('name=')[1] 
			let error = ""

			if (name === undefined){
				name = prompt("Please enter your name: ")
				
				if (name == "" || name == null){
					error = "Can't select an empty user"
				} else {
					document.cookie = `name=${name}`
				}

			}
			
			var div = document.getElementById('recvrs');

			recvrs = '#{recvrs}';
			if (recvrs.length > 0){		
				recvrs.split(',').forEach((recvr) => {
					if (recvr !== name){
						div.innerHTML += `<input type='checkbox', name='recv_id', value=${recvr}> <label>${recvr}</label> <br/>` 
					}
				});
			}
			document.getElementById("error").innerHTML = error;
		}

		document.body.onload = function(){
			init();
			receive_files();
			send_files();
		}