doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title Better Bluetooth
	
	body
		button(onclick="location.href = '/send'") Send
		button(onclick="location.href = '/receive'" style='display:inline') Receive


