head
  script(src='static/peerjs.min.js')
  script(src='static/send.js')

body(onload='send_file()')
  input(type='file', id="file_content")

  br
  br
  each recvr in recvrs
    input(type='checkbox', name='recv_id', value=recvr)
    label #{recvr} 
    br
