head
  script(src='static/peerjs.min.js')
  script(src='static/send.js')

body(onload='send_file()')
  input(type='text', id='recv_id')
  input(type='file', id="file_content")
  //button(onclick='send_file()') Send

  ul
    each client in clients
      li= client
