head
  script(src='static/peerjs.min.js')
  script(src='static/send.js')

body(onload='send_file()')
  input(type='file', id="file_content")
  //button(onclick='send_file()') Send
  br
  br
  each client in clients
    input(type='checkbox', name='recv_id', value=client)
    label #{client} 
    br
